<section class="service-selection">
    <h3>Select Your Type of Event</h3>
    <div class="dropdown-container">
        <select id="events">
            <option value="">--Select--</option>
            <option value="wedding">Wedding</option>
            <option value="pregnancy">Pregnancy</option>
            <option value="corporate">Corporate</option>
            <option value="kiddies">Kiddies</option>
            <option value="travel">Travel</option>
            <option value="portrait">Portrait</option>
            <option value="fashion">Fashion</option>
            <option value="real-estate">Real Estate</option>
        </select>
    </div>
    <button class="cta-button" onclick="handleSelection()">Click here to continue!</button>
</section>
